@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><a href="@Url.Action("InitPayment")">Iniciar transaccion</a></p>
        <p><a href="@Url.Action("PaymentMethods")">Metodos de pago</a></p>
    </div>
